
*{
  margin: 0;
  padding: 0;
  color: #000000;
  box-sizing: border-box;
font-weight: 60;
font-size: 17px;
}
.content1{
  position: relative;
  margin: 130px auto;
  text-align: center;
  padding: 0 20px;
}
.content1 .text{
font-size: 17px;
  font-weight: 600;
  color: #ffffff;
}
.content1 .p{
  font-size: 5.1875rem;
  font-weight: 600;
  color: #e70707;
}
footer{

  width: 100%;
  margin-top: 30px;
  background: rgb(255, 255, 255);
}
.main-content{
  display: flex;
}
.main-content .box{
  flex-basis: 50%;
  padding: 10px 20px;
}
.box h2{
  font-size: 2rem;
  font-weight: 100;
  text-transform: uppercase;
}
.box .content{
  margin: 20px 0 0 0;
  position: relative;
}
.box .content:before{
  position: absolute;
  content: '';
  top: -10px;
  height: 1px;
  width: 100%;
  background: #000000;
}

.left .content p{
  text-align: justify;
}
.left .content .social{
  margin: 20px 0 0 0;
}
.left .content .social a{
  padding: 0 2px;
}
.left .content .social a span{
  height: 40px;
  width: 40px;
  color: #ffffff;
  background: #000000;
  line-height: 40px;
  text-align: center;
  font-size: 18px;
  border-radius: 5px;
  transition: 0.3s;
}
.left .content .social a span:hover{
  background: #ffffff;
  color: #000;
}
.center .content .fas{
  font-size: 2rem;
  background: #000000;
  color: white;
  height: 45px;
  width: 45px;
  line-height: 45px;
  text-align: center;
  border-radius: 50%;
  transition: 0.3s;
  cursor: pointer;
}
.center .content .fas:hover{
  background: #ffffff;
  color: #000;
}
.center .content .text{
  font-size: 1.6rem;
  font-weight: 100;
  padding-left: 10px;
}
.center .content .phone{
  margin: 15px 0;
}
.right form .text{
  font-size: 1.6rem;
  margin-bottom: 2px;
  color: #000000;
}
.right form .msg{
  margin-top: 10px;
}
.right form input, .right form .msgForm{
  width: 100%;
  font-size: 2.0625rem;
  background: #ffffff;
  padding-left: 10px;
  border: 1px solid #000000;
}
.right form input:focus,
.right form .msgForm:focus{
  outline-color: #000000;

}
.right form input{
  height: 35px;
}
.right form .btn{
  margin-top: 10px;
}
.right form .btn button{
  height: 40px;
  width: 80px;
  border: 1px;
  outline: none;
  background: #000000;
  color: white;
  font-size: 1.6rem;
  font-weight: 300;
  cursor: pointer;
  transition: .3s;
}
.right form .btn button:hover{
  background: rgb(241, 236, 236);
  color: #000;
}
.bottom center{
  padding: 5px;
  font-size: 0.9375rem;
  background: #151515;
}
.bottom center span{
  color: #656565;
}
.bottom center a{
  color: #f12020;
  text-decoration: none;
}
.bottom center a:hover{
  text-decoration: underline;
}
@media screen and (max-width: 900px) {
  footer{
    position: relative;
    bottom: 0px;
  }
  .main-content{
    flex-wrap: wrap;
    flex-direction: column;
  }
  .main-content .box{
    margin: 5px 0;
  }
}
