
<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>animation test</title>
</head>
<body>

  <span class="s1">
  </span>
  <h1 class="text1" style="text-align:center; font-size: 70px;">Why choose us?</h1>
  <p class="text2" style="text-align:center;">We have been granted B.I.S. certification marks license for isi marks on steel tubular poles for overhead transmision power lines as per is: 2713 (1980) and are the first and the only manufacturer who have been granted license.We have been supplying steel tubular poles for street lighting & ISI marked steel tubular poles for overhead transmission power lines as per is: 2713 (1980) to all government, semi government, and public sector units. we have also received several awards for export performances from engineering export promotion council (EEPC) including rotating sheild in the catogory of highest growth in exports”</p>




</body>
</html>
