<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">

	<meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.1/css/solid.css" integrity="sha384-r/k8YTFqmlOaqRkZuSiE9trsrDXkh07mRaoGBMoDcmA58OHILZPsk29i2BsFng1B" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.1/css/fontawesome.css" integrity="sha384-4aon80D8rXCGx9ayDt85LbyUHeMWd3UiBaWliBlJ53yzm9hqN21A+o1pqoyK04h+" crossorigin="anonymous">
</head>
<body>
<header>
 <title>Products</title>
</header>
<h1 class="page-title"  style="font-size: 70px; text-align: center;margin-bottom: 80px; font-weight: 60;border-bottom:1px solid rgb(255, 255, 255);">OUR PRODUCTS</h1>
<section class="xop-section">
    <div class="xop-wrapper">
        <div class="xp-container">
            <a class="project" href="#">
                <figure>
                    <img src="assets/images/back1.png" alt="Spain building">
                    <figcaption>
                        <div>
                            <h3 style="margin-bottom:0px; font-weight: 60;">The City</h3>
                            <p class="cta">View products</p>
                        </div>
                    </figcaption>
                </figure>
            </a>
            <a class="project" href="#">
                <figure>
                    <img src="assets/images/back1.png" alt="a Kiwi, lime, pear" title="Juicy Fruit">
                    <figcaption>
                        <div>
                             <h3 style="margin-top: 0px;font-weight: 60;">Juicy Fruit</h3>
                             <p class="cta">View products</p>
                        </div>
                    </figcaption>
                </figure>
            </a>
             <a class="project" href="#">
                <figure>
                    <img src="assets/images/back1.png" alt="Yellow roller coaster track" title="Roller Track">
                    <figcaption>
                        <div>
                            <h3 style="margin-top: 0px;font-weight: 60;">Roller Track</h3>
                            <p class="cta">View products</p>
                        </div>
                    </figcaption>
                </figure>
            </a>
             <a class="project" href="#">
                <figure>
                    <img src="assets/images/back1.png" alt="Yellow play balls" title="Yellow">
                    <figcaption>
                        <div>
                            <h3 style="margin-top: 0px;font-weight: 60;">Yellow</h3>
                            <p class="cta">View products</p>
                        </div>
                    </figcaption>
                </figure>
            </a>
            <a class="project" href="#">
                <figure>
                    <img src="assets/images/back1.png" alt="Swimming pool" title="Swimming Pool">
                    <figcaption>
                        <div>
                          <h3 style="margin-top: 0px;font-weight: 60;">Swimming Pool</h3>
                          <p class="cta">View products</p>
                        </div>
                    </figcaption>
                </figure>
            </a>
            <a class="project" href="#">
                <figure>
                    <img src="assets/images/back1.png" alt="Side of building" title="The Fourth Wall">
                    <figcaption>
                        <div>
                            <h3 style="margin-top: 0px;font-weight: 60;">The Fourth Wall</h3>
                            <p class="cta">View products</p>
                        </div>
                    </figcaption>
                </figure>
            </a>
            <a class="project" href="#">
                <figure>
                    <img src="assets/images/back1.png" alt="Skyline" title="Skyline">
                    <figcaption>
                        <div>
                             <h3 style="margin-top: 0px;font-weight: 60;">Skyline</h3>
                            <p class="cta">View products</p>
                        </div>
                    </figcaption>
                </figure>
            </a>
        </div>
    </div>
</section>
</body>
</html>
